/* HomePage.css */
/* Various CSS libs: https://react-ui-libraries.vercel.app/ */

.customHeader {
    height: 100px;
}

.customHeader .navbar-brand, .customHeader .nav-link { 
    color: rgb(0, 0, 0); 
    /* Change the font color to white  */
}

.firstTitleSection{
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
    /* margin-top: -53px; */
}

.titleSection{
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
}

.gradientText{
    background: -webkit-linear-gradient(rgb(254, 134, 134), rgb(35, 134, 134));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    /* background: linear-gradient(45deg, rgb(254, 134, 134), rgb(35, 134, 134)); */
    /* https://i.pinimg.com/originals/ef/2d/b0/ef2db0885d94fd149a4b7914923bb2a3.gif */
}

.gradientInvText{
    background: linear-gradient(45deg, rgb(254, 134, 134), rgb(35, 134, 134));
    color: black;
}

#contactMe{
    /* To compensate margin from each project */
    background-color: rgb(0, 0, 0);
    margin-top: -20px; 
}

/* To debug section */
.bgbrand {
    /* background-color: rgb(255, 0, 0); */
}

.bgcol{
    /* background-color: rgb(0, 255, 0); */
    padding-left: 80px;
}
/* End of To debug section */