// Define custom colors
$primary-color: rgb(254, 134, 134);  // Example primary color
$secondary-color: rgb(35, 134, 134); // Example secondary color
$complementary-color: rgb(0, 123, 255); // Example complementary color
$black-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);

[data-bs-theme="colorMode"] {
  --bs-body-color: var(--bs-white-color);
  --bs-body-color-rgb: #{to-rgb($white-color)};
  --bs-body-bg: var(--bs-primary-color);
  --bs-body-bg-rgb: #{to-rgb($primary-color)};
  --bs-tertiary-bg: #{darken($primary-color, 10%)};

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($primary-color, $secondary-color)};
    --bs-dropdown-link-active-bg: #{darken($secondary-color, 10%)};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($black-color, $secondary-color, .5)};
    --bs-btn-border-color: #{rgba($white-color, .25)};
    --bs-btn-hover-bg: #{darken(mix($black-color, $secondary-color, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white-color, .25)};
    --bs-btn-active-bg: #{darken(mix($black-color, $secondary-color, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white-color, .5)};
    --bs-btn-focus-border-color: #{rgba($white-color, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba($white-color, .2);
  }

  .navbar {
    background-color: $primary-color;
    color: $white-color;
    .navbar-brand, .nav-link {
      color: $white-color;
    }
    .nav-link:hover {
      color: $complementary-color;
    }
  }

  .card {
    background-color: $primary-color;
    color: $white-color;
    border: 1px solid $secondary-color;
  }

  .modal-content {
    background-color: $secondary-color;
    color: $white-color;
  }
}
